<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="FWMRASSEMBLY">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.194836215789225 0.0393877097299235 0.457269216278777"
        rpy="0 0 0" />
      <mass
        value="23.8752202305694" />
      <inertia
        ixx="0.738998392804084"
        ixy="-0.184905778450458"
        ixz="-0.371970644232162"
        iyy="1.67754114297973"
        iyz="-0.226349002733928"
        izz="1.11973556245517" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FWMRASSEMBLY/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FWMRASSEMBLY/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Front_left_wheel">
    <inertial>
      <origin
        xyz="-2.4980018054066E-16 1.11022302462516E-16 0.0299999999999992"
        rpy="0 0 0" />
      <mass
        value="32.342003157065" />
      <inertia
        ixx="1.21649490313459"
        ixy="-1.33171251803788E-13"
        ixz="2.01325067727964E-13"
        iyy="1.72107635287551"
        iyz="-2.60902410786912E-14"
        izz="2.86711843222717" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FWMRASSEMBLY/meshes/Front_left_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FWMRASSEMBLY/meshes/Front_left_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Front_left_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Front_left_wheel" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Front_right_wheel">
    <inertial>
      <origin
        xyz="-2.4980018054066E-16 1.11022302462516E-16 0.0299999999999992"
        rpy="0 0 0" />
      <mass
        value="32.342003157065" />
      <inertia
        ixx="1.21649490313459"
        ixy="-1.32893696047631E-13"
        ixz="2.01394456667003E-13"
        iyy="1.72107635287551"
        iyz="-2.6256774532385E-14"
        izz="2.86711843222717" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FWMRASSEMBLY/meshes/Front_right_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FWMRASSEMBLY/meshes/Front_right_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Front_right_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Front_right_wheel" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Rear_left_wheel">
    <inertial>
      <origin
        xyz="-1.38777878078145E-16 -5.55111512312578E-17 0.0299999999999992"
        rpy="0 0 0" />
      <mass
        value="32.342003157065" />
      <inertia
        ixx="1.21649490313459"
        ixy="-1.33171251803788E-13"
        ixz="2.01325067727964E-13"
        iyy="1.72107635287551"
        iyz="-2.60902410786912E-14"
        izz="2.86711843222717" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FWMRASSEMBLY/meshes/Rear_left_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FWMRASSEMBLY/meshes/Rear_left_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Rear_left_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Rear_left_wheel" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Rear_right_wheel">
    <inertial>
      <origin
        xyz="-2.4980018054066E-16 1.11022302462516E-16 0.0299999999999992"
        rpy="0 0 0" />
      <mass
        value="32.342003157065" />
      <inertia
        ixx="1.21649490313459"
        ixy="-1.33171251803788E-13"
        ixz="2.01325067727964E-13"
        iyy="1.72107635287551"
        iyz="-2.60902410786912E-14"
        izz="2.86711843222717" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FWMRASSEMBLY/meshes/Rear_right_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FWMRASSEMBLY/meshes/Rear_right_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Rear_right_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Rear_right_wheel" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="30"
      velocity="30" />
  </joint>
</robot>