<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Igris">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-5.51675008758243E-18 4.59499669958658E-17 0.03"
        rpy="0 0 0" />
      <mass
        value="23.8752202305694" />
      <inertia
        ixx="0.449048689155945"
        ixy="-2.19877049143439E-18"
        ixz="-1.57164907896417E-18"
        iyy="1.32622550789332"
        iyz="-3.45471987244402E-18"
        izz="1.76100090118971" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Igris/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Igris/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="front_left_wheel">
    <inertial>
      <origin
        xyz="0.200000000000055 0.294999999998909 0.0299999999999783"
        rpy="0 0 0" />
      <mass
        value="2.11669573162386" />
      <inertia
        ixx="0.00765610745146771"
        ixy="-2.91204810360956E-15"
        ixz="-5.76442092483685E-14"
        iyy="0.0140448819805897"
        iyz="1.41195879933407E-16"
        izz="0.00765610745118413" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Igris/meshes/front_left_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.898039215686275 0.898039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Igris/meshes/front_left_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_left_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="front_left_wheel" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="front_right_wheel">
    <inertial>
      <origin
        xyz="0.200000000000023 -0.29499999999891 0.0299999999999481"
        rpy="0 0 0" />
      <mass
        value="2.11669573162388" />
      <inertia
        ixx="0.00765610745118983"
        ixy="1.94433559495619E-16"
        ixz="-7.01371305092623E-14"
        iyy="0.0140448819805898"
        iyz="-2.72195951893104E-15"
        izz="0.00765610745146195" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Igris/meshes/front_right_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.898039215686275 0.898039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Igris/meshes/front_right_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_right_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="front_right_wheel" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rear_left_wheel">
    <inertial>
      <origin
        xyz="-0.200000000000005 0.294999999998912 0.0300000000000562"
        rpy="0 0 0" />
      <mass
        value="2.11669573162387" />
      <inertia
        ixx="0.00765610745118839"
        ixy="9.10935927848959E-16"
        ixz="-6.76788558631359E-14"
        iyy="0.0140448819805898"
        iyz="-2.13128190116297E-15"
        izz="0.00765610745146303" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Igris/meshes/rear_left_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.898039215686275 0.898039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Igris/meshes/rear_left_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_left_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="rear_left_wheel" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rear_right_wheel">
    <inertial>
      <origin
        xyz="-0.199999999999981 -0.294999999998913 0.0300000000000552"
        rpy="0 0 0" />
      <mass
        value="2.11669573162387" />
      <inertia
        ixx="0.00765610745122861"
        ixy="1.15458355716263E-15"
        ixz="1.18415382829545E-13"
        iyy="0.0140448819805897"
        iyz="1.70650990582261E-15"
        izz="0.00765610745142258" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Igris/meshes/rear_right_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.898039215686275 0.898039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Igris/meshes/rear_right_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_right_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="rear_right_wheel" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>